body{
    header{
        #slideShowBanner{
            h1{
                margin-top: 160px;
            }
            #slideShow{
                height: 500px;
                .slideWrapper{
                    img{
                        bottom: -50%;
                    }
                }
            }
            #slideOverlay{
                height: 500px;
            }
        }
    }
    main{
        
    }
    footer{
        
    }
}