$textColor: white;
$backgroundColor: #191919;
$accentColor: orange;

@mixin listButtons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $textColor;
    background: none;
    border: none;
    border-radius: 5px;
    width: 100%;
    transition: 200ms;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 1em;
    letter-spacing: 1px;
}