body{
    background: $backgroundColor;
    font-size: 12px;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Roboto';
    button{
        outline: none;
    }
    input{
        outline: none;
    }

    header{

    }
    main{
        #searchForm{
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 600px;
            margin: 0 20px;
            #messageBox{
                letter-spacing: 2px;
                font-weight: 700;
                color: $accentColor;
            }
            #searchField{
                border-radius: 5px;
                border: none;
                font-size: 1.1em;
                letter-spacing: 1px;
                width: 100%;
                padding: 10px;
            }
            #searchButtonWrapper{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: 20px 0;
                width: 100%;
                button{
                    padding: 5px 7px;
                    border-radius: 5px;
                    border: none;
                    margin: 5px;
                    letter-spacing: 2px;
                    color: $textColor;
                    background: none;
                    transition: 250ms;
                    cursor: pointer;
                }
                .activeButton{
                    background: rgba(255, 255, 255, 0.9);
                    color: black;
                }
            }
        }
        #mainOutput{
            display: flex;
            flex-direction: column;
            max-width: 800px;
            margin: auto;
            #searchResults{
                padding: 0 10px;
                max-height: 300px;
                overflow: scroll;   
                .showByIdButton{
                    @include listButtons;
                }
                .showByIdButton:hover{
                    background: rgba(255, 255, 255, 0.07);
                }
                .lightButton{
                        background: rgba(255, 255, 255, 0.03);
                }
            }
            #contentOfSpecificAlbum{
                width: 100%;
                #albumTopContent{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.1em;
                    padding: 20px 0 60px 0;
                    img{
                        width: 280px;
                    }
                    #albumInfo{
                        padding-left: 80px;
                        letter-spacing: 2px;
                        h2{
                            font-size: 2.2em;
                            margin: 0;
                        }
                        p{
                            margin: 10px 0px;
                        }
                        #artistName{
                            font-size: 1.4em;
                            font-weight: 700;
                            color: $accentColor;
                            margin-bottom: 25px;
                            margin-top: 0;
                        }
                        #rating{
                            margin-top: 25px;
                            font-weight: 700;
                            font-size: 1.2em;
                        }
                        #buttonWrapper{
                            margin-top: 40px;
                            input{
                                font-size: 1.2em;
                                apperence: text;
                                padding: 8px;
                                border-radius: 5px;
                                border: none;
                                
                            }
                            button{
                                background: $accentColor;
                                color: $backgroundColor;
                                padding: 10px 15px;
                                margin-left: 20px;
                                font-size: 1em;
                                font-weight: 700;
                                letter-spacing: 2px;
                                border-radius: 20px;
                                border: none;
                                cursor: pointer;
                            }
                        }
                    }
                }
                .underline{
                    border-bottom: 1px solid $textColor;
                    width: 95%;
                    margin: auto;
                }
                h3{
                    font-size: 1.8em;
                    text-align: center;
                    padding: 20px;
                    margin: 0;
                }
                #albumTracklist{
                    display: flex;
                    flex-direction: column;
                    padding: 0 10px;
                    .albumTrackButton{
                        @include listButtons;
                    }
                    .albumTrackButton:hover{
                        background: rgba(255, 255, 255, 0.07);
                    }
                    .lightButton{
                            background: rgba(255, 255, 255, 0.03);
                    }
                }
            }
        }
        #addDiv{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 400px;
            border-radius: 10px;
            margin: auto;
            font-size: 1.6em;
            font-weight: 700;
            letter-spacing: 3px;
            background: rgba(0, 0, 0, 0.7);
            transition: 1000ms;
            p{
                margin: 0;
            }
            form{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-top: 30px;
                input{
                    font-size: 0.7em;
                    width: 40%;
                    border-radius: 3px;
                    letter-spacing: 1px;
                    padding: 8px;
                    border: none;
                    margin: 10px;
                }   
                button{
                    width: 40%;
                    padding: 8px;
                }
            }
        }
        .fadeOut{
            opacity: 0;
        }
    }
    footer{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 30px;
        button{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 0.5em;
            border: none;
            background: none;
            color: $accentColor;
            font-weight: 600;
            letter-spacing: 1px;
            margin: 20px;
            cursor: pointer;
            img{
                height: 60px;
                margin-bottom: 10px;
            }
        }
    }
}
