body {
    /*---- GENERAL STYLING ---- */
    background: $backgroundColor;
    font-size: 12px;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Roboto';
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    *,
    *:after,
    *:before {
    	-webkit-box-sizing: inherit;
    	box-sizing: inherit;
    }
    button {
        outline: none;
        cursor: pointer;
        background: none;
        border: none;
    }

    input {
        outline: none;
        border-radius: $mainRadius;
    }

    .fadeOut {
        opacity: 0;
    }

    .spinner {
        margin: 100px auto 0;
        margin-top: 0px;
        width: 70px;
        text-align: center;
        @-webkit-keyframes sk-bouncedelay {
            0%,
            100%,
            80% {
                -webkit-transform: scale(0);
            }

            40% {
                -webkit-transform: scale(1.0);
            }
        }
        @keyframes sk-bouncedelay {
            0%,
            100%,
            80% {
                -webkit-transform: scale(0);
                transform: scale(0);
            }

            40% {
                -webkit-transform: scale(1.0);
                transform: scale(1.0);
            }
        }
        div {
           width: 18px;
           height: 18px;
           background-color: $accentColor;
           border-radius: 100%;
           display: inline-block;
           -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
           animation: sk-bouncedelay 1.4s infinite ease-in-out both;
       }
        .bounce1 {
            -webkit-animation-delay: -0.32s;
            animation-delay: -0.32s;
        }
        .bounce2 {
            -webkit-animation-delay: -0.16s;
            animation-delay: -0.16s;
        }
    }

    #popUpWindow {
        position: fixed;
        width: 400px;
        left: 50%;
        top: 40%;
        opacity: 0.9;
        transform: translate(-50%, -50%);
    }

    /*---- HEADER STYLING ---- */
    header {
        #slideShowBanner {
            h1 {
                color: $accentColor;
                margin-top: 100px;
                font-weight: 900;
                font-size: 5em;
                font-style: italic;
                letter-spacing: 5px;
                position: absolute;
                left: 0;
                right: 0;
                text-align: center;
                z-index: 1;
                opacity: 0.9;

                span {
                    font-family: 'Times New Roman';
                    color: white;
                }
            }

            #slideShow {
                width: 100%;
                height: 300px;
                overflow: hidden;
                background: black;
                position: relative;
                margin: auto;

                .slideWrapper {
                    transition: 700ms;

                    img {
                        position: absolute;
                        width: 100%;
                    }
                }

                .fadeSlide {
                    opacity: 0.5;
                }
            }
            //slideShow END TAG

            #slideOverlay {
                position: absolute;
                top: 0;
                background: black;
                opacity: 0.6;
                width: 100%;
                height: 300px;
            }

            #slideDotsWrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50px;
                width: 100%;
                margin-top: -50px;
                position: absolute;
                z-index: 1;

                .slideDot {
                    width: 10px;
                    height: 10px;
                    margin: 5px;
                    border-radius: 20px;
                    border: 1px solid white;
                    transition: 700ms;
                }

                .activeDot {
                    background: white;
                }
            }
            //slideDotsWrapper END TAG
        }
        //slideShowBanner END TAG
    }
    //header END TAG

    main {
        a.mainLink {
            color: $accentColor;
            font-weight: 600;
            letter-spacing: 1px;
        }

        #searchForm {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 600px;
            margin: 0 20px;
            padding-top: 50px;

            #searchField {
                border: none;
                font-size: 1.1em;
                letter-spacing: 1px;
                width: 100%;
                padding: 10px;
            }

            #searchButtonWrapper {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: 20px 0;
                width: 100%;

                button {
                    padding: 5px 7px;
                    border-radius: $mainRadius;
                    margin: 5px 20px;
                    letter-spacing: 2px;
                    color: $textColor;
                    transition: 250ms;
                }

                .activeButton {
                    background: rgba(255, 255, 255, 0.9);
                    color: black;
                }
            }
        }

        #mainOutput {
            display: flex;
            flex-direction: column;
            max-width: 800px;
            margin: auto;
            padding: 0 10px;
            transition: 500ms;

            #searchResults {
                max-height: 300px;
                overflow: scroll;
                border-radius: $mainRadius;
                margin-bottom: 10px;

                .showByIdButton {
                    @include listButtons;
                }

                .showByIdButton:hover {
                    background: rgba(255, 255, 255, 0.07);
                }
            }

            .topFivePlayLists {
                p {
                    color: $accentColor;
                    text-align: center;
                    text-decoration: underline;
                    font-weight: 700;
                    letter-spacing: 3px;
                    font-size: 1.1em;
                    margin-bottom: 30px;
                }

                .topPlaylistsButton {
                    @include listButtons;
                }
            }

            #contentOfSpecificAlbum {
                width: 100%;
                transition: 500ms;

                #albumTopContent {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-size: 1em;
                    padding: 20px 0 60px;

                    img {
                        width: 90%;
                        max-width: 380px;
                    }

                    #albumInfo {
                        letter-spacing: 2px;

                        h2 {
                            @include displaySpecificH2;
                            margin: 25px 0 0;
                        }

                        p {
                            margin: 10px 0;

                            span {
                                font-weight: 700;
                            }
                        }

                        #artistName {
                            font-size: 1.4em;
                            font-weight: 700;
                            color: $accentColor;
                            margin-bottom: 25px;
                            margin-top: 0;
                        }

                        #rating {
                            margin-top: 25px;
                            font-weight: 700;
                            font-size: 1.2em;
                        }

                        #buttonWrapper {
                            margin-top: 40px;

                            input {
                                @include ratingStyling;
                            }

                            button {
                                @include displaySpecificButtons;
                            }
                        }
                    }
                }

                .underline {
                    @include displaySpecificUnderline;
                }

                h3 {
                    @include displaySpecificH3;
                }

                #albumTracklist {
                    display: flex;
                    flex-direction: column;
                    padding: 0 10px;

                    .albumTrackButton {
                        @include listButtons;
                    }

                    .albumTrackButton:hover {
                        background: rgba(255, 255, 255, 0.07);
                    }
                }
            }

            #contentOfSpecificArtist {
                width: 100%;
                transition: 500ms;

                #artistTopContent {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-size: 1em;
                    padding: 20px 0 60px;

                    img {
                        width: 90%;
                        max-width: 380px;
                    }

                    #artistInfo {
                        letter-spacing: 2px;

                        h2 {
                            @include displaySpecificH2;
                            margin: 25px 0 0;
                        }

                        p {
                            margin: 10px 0;

                            span {
                                font-weight: 700;
                            }
                        }

                        button {
                            @include displaySpecificButtons;
                        }
                    }
                }

                .underline {
                    @include displaySpecificUnderline;
                }

                h3 {
                    @include displaySpecificH3;
                }

                #artistAlbums {
                    display: flex;
                    flex-direction: column;
                    padding: 0 10px;

                    .artistAlbumButton {
                        @include listButtons;
                    }
                }
            }

            #contentOfSpecificTrack {
                display: flex;
                flex-direction: column;
                align-items: center;
                transition: 500ms;

                #trackInfo {
                    #topTrackContent {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        h2 {
                            @include displaySpecificH2;
                            margin: 20px 0;
                        }

                        button {
                            @include displaySpecificButtons;
                        }
                    }

                    .underline {
                        border-bottom: 1px solid $textColor;
                        width: 100%;
                        margin: 40px 0;
                    }

                    p {
                        font-weight: 900;
                        color: $accentColor;
                        letter-spacing: 2px;
                        font-size: 1.2em;
                        margin: 0;
                    }

                    .rating {
                        font-weight: 400;
                        color: $textColor;
                        margin-bottom: 20px;
                    }

                    .trackAlbumButton {
                        color: $textColor;
                        padding: 0;
                        font-size: 1em;
                        margin-bottom: 50px;
                    }

                    .trackAlbumButton:hover {
                        text-decoration: underline;
                    }
                }

                #buttonWrapper {
                    margin-bottom: 60px;

                    input {
                        @include ratingStyling;
                    }

                    button {
                        @include displaySpecificButtons;
                    }
                }
            }

            #contentOfSpecificPlaylist {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                transition: 500ms;

                #playlistTopContent {
                    letter-spacing: 2px;
                    font-size: 1em;
                    padding: 20px 0 40px;

                    h2 {
                        @include displaySpecificH2;
                        text-align: center;
                        color: $accentColor;
                        font-size: 2.5em;
                        margin: 0 0 40px;
                    }

                    p {
                        margin: 10px 0;

                        span {
                            font-weight: 700;
                        }
                    }

                    #createdBy {
                        font-size: 1.3em;
                        color: $accentColor;
                    }
                }
                #buttonWrapper{
                    margin-bottom: 20px;
                    input{
                        @include ratingStyling;
                    }

                    button {
                        @include displaySpecificButtons;
                    }
                }
                button{
                    @include displaySpecificButtons;
                }
                .underline{
                    @include displaySpecificUnderline;
                }

                h3 {
                    @include displaySpecificH3;
                }

                #playlistTracklist {
                    width: 100%;

                    .playlistTrackButton {
                        @include listButtons;
                        justify-content: center;
                        font-weight: 400;
                    }
                }

                #displayComments{
                    margin-bottom: 50px;
                }
                #commentsOutput{
                    position: absolute;
                    background: rgba(0, 0, 0, 0.9);
                    max-width: 420px;
                    border-radius: 20px;
                    transition: 500ms;
                    #commentForm{
                        display: flex;
                        flex-direction: column;
                        padding: 30px 60px;
                        #wrongMessageComment{
                            transition: 500ms;
                            p{
                                font-size: 0.9em;
                                font-weight: 700;
                                letter-spacing: 1px;
                                text-align: center;
                                background: rgba(255, 0, 0, 0.4);
                                background: rgba(255, 0, 0, 0.4);
                                padding: 10px 5px;
                                border-radius: $mainRadius;
                                margin: 0 0 15px 0;
                            }
                        }
                        #commentCloseButton{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: none;
                            color: $textColor;
                            height: 35px;
                            margin-bottom: 20px;
                            padding: 0;
                            img{
                                height: 15px;
                                margin-right: 5px;
                            }
                        }
                        #commentField{
                            padding: 8px;
                            letter-spacing: 1px;
                            border: none;
                            width: 280px;
                        }
                        #commentBottom{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin: 15px 0;
                            width: 100%;
                            #commentUser{
                                width: 100%;
                                border: none;
                                padding: 8px;
                                letter-spacing: 1px;
                            }
                            #addCommentButton{
                                background: none;
                                border-radius: $mainRadius;
                                padding: 0;

                                img{
                                    margin-left: 10px;
                                    height: 30px;
                                }
                            }
                        }
                    }
                    #playlistComments{
                        padding: 0px 60px 30px 60px;
                        margin-top: -20px;
                        transition: 500ms;
                        #commentMessage{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            img{
                                height: 50px;
                                padding: 10px;
                                margin: 20px;
                                border-radius: 100px;
                                background: #72db55;
                            }
                            p{
                                letter-spacing: 2px;
                                font-weight: 700;
                            }
                        }
                        .playlistComment{
                            background: $backgroundColor;
                            padding: 15px;
                            border-radius: $mainRadius;
                            letter-spacing: 2px;
                            margin: 5px 0;
                            header{
                                display: flex;
                                justify-content: space-between;
                                .commenter{
                                    font-weight: 700;
                                }
                                button{
                                    background: none;
                                    img{
                                        height: 15px;
                                    }
                                }
                            }
                            .underline{
                                border-bottom: 1px solid white;
                                width: 100%;
                            }
                            .comment{

                            }
                        }
                        }
                    }   
                }
            }
        }

        #addDiv {
            width: 100vw;
            margin: auto;
            font-size: 1.6em;
            font-weight: 700;
            letter-spacing: 3px;
            transition: 1000ms;
            position: absolute;
            #addWrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 50px 10px 20px;
                background: rgba(0, 0, 0, 0.7);
                border-radius: 10px;
                max-width: 500px;
                margin: auto;
                p {
                    margin: 0;
                }
                form {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    margin-top: 30px;
                    max-width: 500px;
                    input {
                        font-size: 0.7em;
                        width: 216px;
                        letter-spacing: 1px;
                        padding: 10px;
                        border: none;
                        margin: 10px;
                    }
                    button {
                        width: 216px;
                        padding: 8px;
                        margin: 10px;
                        font-size: 0.7em;
                        font-weight: 900;
                        letter-spacing: 2px;
                        border-radius: $mainRadius;
                        border: none;
                        color: white;
                        background: #d3790a;
                        transition: 300ms;
                    }
                    button:hover {
                        background: $accentColor;
                    }
                    select{
                        outline: none;
                        padding: 10px;
                        width: 45%;
                        height: 32px;
                        border: none;
                        letter-spacing: 1px;
                        font-size: 0.8em;
                    }
                }

                #importCloseButton {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 10px;
                }

                button {
                    width: 40%;
                    padding: 8px;
                    color: white;
                    font-weight: 600;
                    letter-spacing: 2px;
                    font-size: 0.7em;
                    height: 50px;

                    img {
                        height: 15px;
                        margin-right: 5px;
                    }
                }
                #addTrackToExistingPlaylist{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                a{
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    font-size: 0.7em;
                    letter-spacing: 1px;
                    margin-top: 20px;
                    img{
                        height: 18px;
                        margin-right: 5px;
                        margin-left: 5px;
                    }
                }
            }
        }

        .messagePopupBox {
            width: 80%;
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            text-align: center;
            padding: 50px 10px;
            background: black;
            border-radius: 10px;
            max-width: 400px;
            margin: auto;
            z-index: 1;

            #messageButtonWrapper {
                margin-top: 20px;
            }

            button#errorOkButton,
            button#noButton,
            button#yesButton {
                @include orangeButton;
            }

            button#yesButton {}

            button#noButton {
                display: inline-block;
                background: red;
            }

            button#noButton:hover {
                background: rgb(255, 88, 88);
            }

            p {
                font-size: 0.8em;
                letter-spacing: 2px;
                font-weight: 700;
            }
        }
    }

    footer {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 30px;

        button {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 0.5em;
            color: $accentColor;
            font-weight: 600;
            letter-spacing: 1px;
            margin: 20px;

            img {
                height: 60px;
                margin-bottom: 10px;
            }
        }
    }
