body{
    header{
        #slideShowBanner{
            h1{
                margin-top: 160px;
                font-size: 10em;
                letter-spacing: 10px;
            }
            #slideShow{
                height: 500px;
            }
            #slideOverlay{
                height: 500px;
            }
            #slideDotsWrapper{
                .slideDot{
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }
    main{
        #searchForm{
            margin: auto;
            #searchField{
                font-size: 1.25em;
                padding: 12px;
            }
            #searchButtonWrapper{
                button{
                    padding: 8px 14px;
                    font-size: 1.1em; 
                    letter-spacing: 3px;
                    margin: 10px;
                }
            }
        }
        .messagePopupBox{
            font-size: 1.2em;
            width: 60%;
        }
        #mainOutput{
            #searchResults{
                .showByIdButton{
                    font-size: 1.2em;
                    letter-spacing: 2px;
                    padding: 20px 25px;
                }  
            }
            #contentOfSpecificAlbum{
                #albumTopContent{
                    flex-direction: row;
                    img{
                        width: 280px;
                    }
                    #albumInfo{
                        padding-left: 5%;
                        h2{
                            margin: 0;
                        }
                        #buttonWrapper{
                            margin-top: 40px;
                            input{
                                font-size: 1.1em;
                                
                            }
                            button{
                                margin-left: 15px;
                                font-size: 0.9em;
                            }
                        }
                    }
                }
                h3{
                    font-size: 2.2em;
                    padding: 30px;
                }
                #albumTracklist{
                    .albumTrackButton{
                        font-size: 1.2em;
                        letter-spacing: 2px;
                        padding: 20px 25px;
                    }
                }
            }
            #contentOfSpecificArtist{
                #artistTopContent{
                    flex-direction: row;
                    img{
                        width: 280px;
                    }
                    #artistInfo{
                        padding-left: 5%;
                        h2{
                            margin: 0 0 25px 0;
                        }
                        #buttonWrapper{
                            margin-top: 40px;
                            input{
                                font-size: 1.1em;
                                
                            }
                            button{
                                margin-left: 15px;
                                font-size: 0.9em;
                            }
                        }
                    }
                }
                h3{
                    font-size: 2.2em;
                    padding: 30px;
                }
                #artistAlbums{
                    .artistAlbumButton{
                        font-size: 1.2em;
                        letter-spacing: 2px;
                        padding: 20px 25px;
                    }
                }
            }
            #contentOfSpecificTrack{
                #trackInfo{
                    .trackAlbumButton{
                        font-size: 1.2em;
                        letter-spacing: 2px;
                        padding: 20px 25px;           
                    }
                }
            }
            #contentOfSpecificPlaylist{
                width: 100%;
                #playlistTopContent{
                    h2{
                        font-size: 3em;
                    }
                    p{
                        font-size: 1.2em;
                        margin: 10px 0px;
                        span{
                            font-weight: 700;
                        }
                    }
                }
                h3{
                    font-size: 2.2em;
                    padding: 30px;
                }
                #buttonWrapper{
                    input{
                        font-size: 1.1em;                
                    }
                    button{
                        margin-left: 15px;
                        font-size: 0.9em;
                    }
                }
                #playlistTracklist{
                    .playlistTrackButton{
                        font-size: 1.2em;
                        letter-spacing: 2px;
                        padding: 20px 25px; 
                    }
                }
            }
        }    
    }
    footer{
        margin-bottom: 80px;
        button{
            width: 150px;
            font-size: 0.9em;
            img{
                height: 80px;
                margin-bottom: 20px;
            }
        }
    }
}